body{
	background-color: mintcream;
}

#container{
	width: 100%;
	height: 1500px;
	
	display: grid;
	grid-template-columns: minmax(250px,2fr) 1fr minmax(100px, 1fr);
	grid-template-rows:2fr 4fr 5fr 2fr ;
	grid-template-areas: 
	"header header header"
	"main main side1"
	"main main side2"
	"footer footer side3"
	;
}
#container div{
	
}
#main{
	grid-area: main;
	background-color: floralwhite;
	opacity: 0.7;
}
#header{
	grid-area: header;
	background-color: black;
	color: orange;
	display: grid;
	grid-template-columns: 2fr 4fr 2fr minmax(200px, 1fr);
	grid-template-rows: 3fr 3fr auto;
	grid-template-areas: 
	"logo name emp photo"
	"logo contact emp photo"
	" menu menu menu menu";
}
#side1{
	grid-area: side1;
	background-color: black;
	outline: 2px solid orange;
	color: orange;
}
#side2{
	grid-area: side2;
	background-color: black;
	outline: 2px solid lightcoral;
	color: orange;
	font-size: 15px;
}
#side3{
	grid-area: side3;
	background-color: black;
	outline: 2px solid whitesmoke;
}
#footer{
	grid-area: footer;
	background-color: mintcream;
}
#logo{
	grid-area:logo ;
}
#name{
	grid-area:name ;
	color: whitesmoke;
	font-size: 60px;
	font-weight: bold;
}
#contact{
	grid-area:contact ;
	color: whitesmoke;
	font-size: 20px;
}
#photo{
	grid-area:photo ;
}
#emp{
	grid-area: emp;
}
#menu{
	grid-area: menu;
	background-color: orange;
	display: flex;
	justify-content: start;
}
#home{
 color: black;
 margin: auto 20px;
}
#pro{
	color: black;
	margin :auto 20px;
}
.nava{
	padding: 10px;
}
.nava:hover{
	background-color: black;
	color: orange;
}
.navb ol{
	padding: 10px;
	display: none;
	width: 200px;
}
.navb li{
	display: block;
	width: 200px;
	background-color: orange;
	color: black;
}
#home:hover ol{
	display: block;
}
.navb li:hover{
	background-color: black;
	color: orange;
	cursor: pointer;
}
#pro:hover ol{
	display: block;
}
.dot{
	background-color: orange;
	border-radius: 50%;
	display: inline-block;
	height: 15px;
	width: 15px;
}
