body{
	background-color: mintcream;
}

#container{
	width: 100%;
	height: 1000px;
	
	display: grid;
	grid-template-columns: minmax(225px,2fr) 1fr minmax(130px, 1fr);
	grid-template-rows:auto 5fr 4fr 5fr 1fr ;
	grid-template-areas: 
	"header header header"
	"main main side1"
	"main main side2"
	"footer footer side3"
	;
}
#container div{
	
}
#main{
	grid-area: main;
	overflow: auto;
	background-color: floralwhite;
	opacity: 0.7;
	font-size: 70%;
	
}
#header{
	grid-area: header;
	background-color: black;
	color: orange;
	display: grid;
	grid-template-columns: 2fr 4fr 2fr minmax(160px, 1fr);
	grid-template-rows: 3fr 3fr auto;
	grid-template-areas: 
	"logo name name photo"
	"logo contact contact photo"
	" menu menu menu menu";
	justify-content: center;
}
#side1{
	grid-area: side1;
	background-color: black;
	outline: 2px solid orange;
	color: orange;
	font-size: 70%;
	overflow: auto;
}
#side2{
	grid-area: side2;
	background-color: black;
	outline: 2px solid lightcoral;
	color: orange;
	font-size: 60%;
	overflow: auto;
}
#side3{
	grid-area: side3;
	background-color: black;
	outline: 2px solid whitesmoke;
}
#footer{
	grid-area: footer;
	background-color: mintcream;
}
#logo{
	grid-area:logo ;
}
#name{
	grid-area:name ;
	color: whitesmoke;
	font-size: 200%;
	font-weight: bold;
}
#contact{
	grid-area:contact ;
	color: whitesmoke;
	font-size: 80%;
	overflow-wrap: initial;
}
#photo{
	grid-area:photo ;
	margin-left: auto;
	justify-content: end;
	
}
#emp{
	grid-area: emp;
}
#menu{
	grid-area: menu;
	background-color: orange;
	display: flex;
	justify-content: start;
	font-size: 60%;
}
#home{
 color: black;
 margin: auto 20px;
}
#pro{
	color: black;
	margin :auto 20px;
}
.nava{
	padding: 10px;
}
.nava:hover{
	background-color: black;
	color: orange;
}
.navb ol{
	padding: 10px;
	display: none;
	width: 200px;
}
.navb li{
	display: block;
	width: 200px;
	background-color: orange;
	color: black;
}
#home:hover ol{
	display: block;
}
.navb li:hover{
	background-color: black;
	color: orange;
	cursor: pointer;
}
#pro:hover ol{
	display: block;
}
.dot{
	background-color: orange;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	width: 10px;
}
